<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1><%= title %></h1>
    <p>
      <% for(let i=0; i<quizzes.length; i++) { %>
        <%= quizzes[i].question %>: <%= quizzes[i].answer %> <br>	
 	  <% } %>
    </p>
  </body>
</html>
